@{
    ViewData["Title"] = "Home Page";
}

    <div class="sheetSlider sh--default">
        <input id="s1" type="radio" name="slide1" checked />
        <input id="s2" type="radio" name="slide1" />
        <input id="s3" type="radio" name="slide1" />
        <input id="s4" type="radio" name="slide1" />
        <input id="s5" type="radio" name="slide1" />
        <input id="s6" type="radio" name="slide1" />
        <input id="s7" type="radio" name="slide1" />
        <input id="s8" type="radio" name="slide1" />
        <input id="s9" type="radio" name="slide1" />
        <input id="s10" type="radio" name="slide1" />
        <div class="sh__content">
            <!-- Slider Item -->
            <div class="sh__item">
                <img src="~/Images/Dart-and-Flutter.png" alt="imgText" class="imgSlider" />
                <!-- Item Info -->
                <div class="sh__meta">
                    <h4>
                        Dart and Flutter desde cero con Firebase
                    </h4>
                    <span>
                        <a href="https://www.udemy.com/draft/2345066/?couponCode=PDHN01">Curso de Dart and Flutter desde cero con Firebase</a>
                    </span>
                </div>
            </div>
            <!-- Slider Item -->
            <div class="sh__item">
                <img src="~/Images/Python-portada.png" alt="imgText" class="imgSlider" />
                <!-- Item Info -->
                <div class="sh__meta">
                    <h4>Python and Django</h4>
                    <span>
                        <a href="https://www.udemy.com/curso-de-python-mvc-and-django-administracion-de-usuarios/?couponCode=PDHN02">Curso de Python MVC and Django administración de usuarios</a>
                    </span>
                </div>
            </div>
            <!-- Slider Item -->
            <div class="sh__item">
                <img src="~/Images/UWP.png" alt="imgText" class="imgSlider" />
                <!-- Item Info -->
                <div class="sh__meta">
                    <h4>UWP</h4>
                    <span>
                        <a href="https://www.udemy.com/curso-de-app-para-la-plataforma-universal-de-windows-uwp/?couponCode=PDHN02">Curso de app para la plataforma universal de Windows UWP C#</a>
                    </span>
                </div>
            </div>
            <!-- Slider Item -->
            <div class="sh__item">
                <img src="~/Images/Xamarin.png" alt="imgText" class="imgSlider" />
                <!-- Item Info -->
                <div class="sh__meta">
                    <h4>Xamarin</h4>
                    <span>
                        <a href="https://www.udemy.com/curso-de-xamarin-para-android-y-firebase-en-c-sharp/?couponCode=PDHN02">Curso de Xamarin para Android y Firebase en C#</a>
                    </span>
                </div>
            </div>
            <!-- Slider Item -->
            <div class="sh__item">
                <img src="~/Images/Systema-portada-core.png" alt="imgText" class="imgSlider" />
                <!-- Item Info -->
                <div class="sh__meta">
                    <h4>Asp net Core MVC</h4>
                    <span>
                        <a href="https://www.udemy.com/curso-de-aplicaciones-web-modernas-en-asp-net-core-mvc/?couponCode=PDHN02">Curso de aplicaciones web modernas en ASP NET Core MVC en C#</a>
                    </span>
                </div>
            </div>
            <div class="sh__item">
                <img src="~/Images/Systema5.png" alt="imgText" class="imgSlider" />
                <!-- Item Info -->
                <div class="sh__meta">
                    <h4>Java Web MVC</h4>
                    <span>
                        <a href="https://www.udemy.com/curso-de-java-web-mvc/?couponCode=PDHN03">Curso de Java Web MVC and JavaScript ,Hibernate,MySQL,Spring</a>
                    </span>
                </div>
            </div>
            <div class="sh__item">
                <img src="~/Images/Android-kotlin1.png" alt="imgText" class="imgSlider" />
                <!-- Item Info -->
                <div class="sh__meta">
                    <h4>Android Kotlin</h4>
                    <span>
                        <a href="https://www.udemy.com/curso-de-android-and-firebase-con-kotlin/?couponCode=PDHN02">Curso de Android and Firebase con Kotlin</a>
                    </span>
                </div>
            </div>
            <div class="sh__item">
                <img src="~/Images/Systema1.png" alt="imgText" class="imgSlider" />
                <!-- Item Info -->
                <div class="sh__meta">
                    <h4>C# con MySQL y SQL</h4>
                    <span>
                        <a href="https://www.udemy.com/como-crear-un-sistema-punto-de-ventas-en-c-sharp/?couponCode=PDHN04">Como crear un sistema punto de ventas en C# con MySQL y SQL</a>
                    </span>
                </div>
            </div>
            <div class="sh__item">
                <img src="~/Images/Systema4.png" alt="imgText" class="imgSlider" />
                <!-- Item Info -->
                <div class="sh__meta">
                    <h4>PHP 7 POO MVC & PDO</h4>
                    <span>
                        <a href="https://www.udemy.com/curso-sistema-de-ventas-y-facturacion-en-php-poo-mvc-pdo/?couponCode=PDHN03">Curso sistema de ventas y facturación en PHP 7 POO MVC & PDO</a>
                    </span>
                </div>
            </div>
            <div class="sh__item">
                <img src="~/Images/Android3.png" alt="imgText" class="imgSlider" />
                <!-- Item Info -->
                <div class="sh__meta">
                    <h4>Android Java</h4>
                    <span>
                        
                    </span>
                    <span>
                        <a href="https://www.udemy.com/curso-de-android-and-firebase-con-java/?couponCode=PDHN02">Curso de Android and Firebase con Java</a>
                    </span>
                </div>
            </div>
        </div>
        <!--botones-->
        <div class="sh__btns">
            <label for="s1"></label>
            <label for="s2"></label>
            <label for="s3"></label>
            <label for="s4"></label>
            <label for="s5"></label>
            <label for="s6"></label>
            <label for="s7"></label>
            <label for="s8"></label>
            <label for="s9"></label>
            <label for="s10"></label>
        </div>
        <!--flechas-->
        <div class="sh__arrows">
            <label for="s1"></label>
            <label for="s2"></label>
            <label for="s3"></label>
            <label for="s4"></label>
            <label for="s5"></label>
            <label for="s6"></label>
            <label for="s7"></label>
            <label for="s8"></label>
            <label for="s9"></label>
            <label for="s10"></label>
        </div><!-- .sh__arrows -->

    </div>
